.tahd {
    /* display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row; */
    /* width: 100%;
    padding-left: 60px;
    padding-right: 60px; */
    -ms-grid-row-align: center;
    grid-row-gap: 30px;
    
    
}

.center-align {
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: baseline;
}

.button {
    order: 3px;
    flex: auto;
    row-gap: 20px;
    align-self: baseline; 
}

#scores {
    order: 3px;
    flex: auto;
    row-gap: 20px;
    align-self: baseline;
}